* {
  box-sizing: border-box;
}

html {
  
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(223, 223, 223);
  min-height: 100%;
  min-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  min-width: 300px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}



.upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  border: 1px solid black;
  overflow: visible;
}

.new-button {
  width: 47%;
  cursor: pointer;
}

.js-filter-menu {
  width: 47%;
}

.lower-container {
  height: 90vw;
  width: 80%;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  background-color: rgba(240, 240, 240, 0.9);
}

.bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  padding: 5px;
}

.title-box {
  color: white;
  font-size: large;
  max-width: 65%
}

.star-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex;
  width: 90px;
}

.no-rating-box {
  color: white;
  width: 75px;
}

.star-inner {
  background-image: url('media/star_icon_small.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
}

.info-container {
  background-color: grey;
}

.info-inner-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

.info-inner-url-container {
  width: 70%;
  padding: 10px;
}
.info-url-button {
  width: 90%;
  height: 15vw;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.info-inner-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin-right: 15px;
}

.info-edit-button {
  width: 70px;
  margin-bottom: 5px;
  cursor: pointer;
}

.info-trash-button {
  width: 70px;
  cursor: pointer;
}

.info-inner-bottom {
  height: 30vw;
  padding: 5px;
  overflow: scroll;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  background-color: black;
}


.add-upper-container {
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
} 

.js-add-input {
  width: 100%;
  height: 35px;
}

.add-lower-container {
  height: auto;
  width: 80%;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

.add-inner-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  height: 13vw;
  padding: 5px;
  border: 1px solid black;
  border-bottom: 2px solid black;
  background-color: black;
}

.js-add-inner-title {
  width: 70%;
  height: 28px;
  vertical-align: middle;
  font-size: large;
  padding-top: 2px;
  margin: auto;
}

.add-inner-edit {
  width: 20%;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  padding-top: 2px;
}

.add-inner-bottom {
  margin: 15px;
  margin-top: 10px;
  height: 80%;
  background-color: white;
}

.add-inner-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 12vw;
  padding-right: 5px;
  border: 2px solid black;
  padding: 3px;
  background-color: yellow;
}

.js-add-rating {
  width: 0;
  height: 0;
}

.add-inner-rating input[type="radio"]:checked+label {
  background-image: url('media/star_icon_small.png');
}

.add-inner-rating input[type="radio"]:hover+label {
  background-image: url('media/star_icon_small.png');
  cursor: pointer;
}

.star {
  display: flex;
 
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 40px;
  padding-top: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
}

p {
  margin: auto;
}

textarea {
  width: 100%;
  height: 67vw;
  font-size: medium;
  resize: none;
}

.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 12vw;
}

.cancel-button {
  width: 47%;
  cursor: pointer;
}

.create-button {
  width: 47%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.js-error-message {
  text-align: center;
  width: 250px;
  border: 1px solid black;
  background-color: rgb(197, 7, 7);
  color: white;
  padding: 4px;
  font-size: medium;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.js-edit-button {
  width: 47%;
  cursor: pointer;
}

@media screen and (min-width: 430px) {
  main {
      width: 430px;
      height: 540px;
      margin-left: auto;
      margin-right: auto;
  }

  .lower-container {
     height: 500px; 
  }

  .add-lower-container {
      height: auto;
  }

  .add-button-container {
      height: 50px;
  } 

  .add-inner-top {
      height: 50px;
  }

  .add-inner-rating {
      height: 50px;
  }

  .js-add-inner-description {
      height: auto;
  }

  .info-inner-top {
      height: 85px;
  }

  .info-inner-bottom {
      height: 125px;
  }

  .info-url-button { 
      height: 65px;
  }
}

@media screen and (min-height: 1300px) {
  h1 {
      margin-top: 250px;
  }

  main {
      width: 1024px;
  }

  .main-container {
      width: 650px;
      margin-left: auto;
      margin-right: auto;
  }
}